body {
    background-color: #3a0057;
    overflow-y: scroll;
    font-family: "Readex Pro", sans-serif;
}

#startArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5px;
}

#startGame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #f9d402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    transition-duration: 0.4s;
}

#startGame:hover {
    box-shadow: 0px 0px 10px 3px #e8c607
}

#tabooLogo {
    width: 15vw;
    height: 15vh;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: white;
}

#regoleText h1 {
    color: #9c59bd;
}

#regoleText p {
    color: #feffec;
}
