#root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

body {
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    font-family: "Readex Pro", sans-serif;   
}



#startArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5px;
}

#startGame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    color: #01071A;
    font-weight: bold;
    font-size: 20px;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #f9d402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 10px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #d7b701;
}

#startGame:hover {
    box-shadow: 0px 0px 10px 3px #e8c607;
    transform: scale(1.05);
}

#tabooLogo {
    width: 500px;
    height: 200px;
    align-items: center;
    min-width: 400px;
    min-height: 165px;
}

#tabooLogoForm {
    width: 250px;
    height: 103px;
    align-items: center;
    min-width: 200px;
    min-height: 83px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    color: white;
}

footer {
    background-color: #190f31;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #feffec;
    padding: 50px;

}

footer * {
    font-size: 80%;
}

#hasbroLogo {
    width: 100px;
    height: 100px;
}

/*REGOLE DEL GIOCO*/

.RulesElement {
    color: #10001c;
    font-size: 1em;
    line-height: 1.7em;
}

.Rules {
    color: #ffdf00;
    font-size: 2.6em;
    text-shadow: 2px 2px 1px black;
}

/*RULE CAROUSEL*/

#ruleContainer {
    display: flex;
    justify-content: center;
}

#rulePaper {
    background-color: #d176ff;
    padding: 20px;
    min-height: 500px;
    width: auto;
    height: auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#rulePaper div {
    font-weight: bold;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#rulePaper img {
    border-radius: 10px;
    max-height: 30%;
    max-width: 30%;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*CSS DELLA PAGINA DI CREAZIONE PARTITA*/

#lobbyMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*CONTENITORE DEL FORM*/

#matchFormContainer {
    width: min-content;
    background-color: #d88cfe;
    border-color: #190f31;
    border-radius: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    margin: 5em;
}

/*PARTE PER RIMUOVERE LE FRECCE DAGLI INPUT NUMERICI*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*CONTENUTI DI MATCHFORMCONTAINER*/

#matchFormContainer * {
    text-align: center;
}

/*-PULSANTE DI RITORNO ALLA HOME-*/

#goBackHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #ff4e88;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 25px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #dd205f;
    white-space: nowrap;
}

#goBackHome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#goBackHome span:after {
    content: '<<';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#goBackHome:hover {
    box-shadow: 0px 0px 10px 3px #ff4e88;
    transform: scale(1.05);
}

#goBackHome:hover span {
    padding-right: 25px;
}

#goBackHome:hover span:after {
    opacity: 1;
    right: 0;
  }

/*-CONTENITORE DEI GIOCATORI E INPUT DEI GIOCATORI-*/

#matchPlayers {
    display: flex;
    flex-direction: row;
}

#redPlayers, #bluePlayers {
    display: flex;
    flex-direction: column;
}

.redPlayersInput {
    background-color: #ef9198;
    border-top: 2.5px solid #d61622;
    border-left: 3.5px solid #f0414d;
    border-right: 3.5px solid #f0414d;
    border-bottom: 3.5px solid #f0414d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    margin: 10px;
    padding: 8px;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: "Readex Pro", sans-serif;
}

.redPlayersInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px 3px #d61622;
}

.redPlayersInput::placeholder {
    color: #ebeaea;
}

.bluePlayersInput::placeholder {
    color: #ebeaea;
}

.bluePlayersInput {
    background-color: #71bee7;
    border-top: 2.5px solid #0178b8;
    border-left: 3.5px solid #15a0eb;
    border-right: 3.5px solid #15a0eb;
    border-bottom: 3.5px solid #15a0eb;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    margin: 10px;
    padding: 8px;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: "Readex Pro", sans-serif;
}

.bluePlayersInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px 3px #0178b8;
}

/*-NUMERO GIOCATORI E INPUT DEL TEMPO PER TURNO-*/

#numPlayers, #turnTimeInput {
    background-color: #feffec;
    border-top: 2.5px solid #000000;
    border-left: 3.5px solid #41297a;
    border-right: 3.5px solid #41297a;
    border-bottom: 3.5px solid #41297a;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    padding: 8px;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: "Readex Pro", sans-serif;
    color: #01071A;
}

#button-minus, #button-plus {
    background-color: #624b9a;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 0px;
    border-bottom: 3.5px solid #4f358b;
    border-radius: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Readex Pro", sans-serif;
    color: #feffec;
    font-weight: 1000;
    transition-property: all;
    transition-duration: 0.4s;
}

#button-minus:hover, #button-plus:hover {
    box-shadow: 0px 0px 10px 3px #7353be;
    transform: scale(1.2);
}

#numPlayers:focus, #turnTimeInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px 3px #41297a;
}

/*-PULSANTE DI INIZIO PARTITA-*/

#startMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #f9d402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin: 25px auto;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #d7b701;
}

#startMatch:hover {
    box-shadow: 0px 0px 10px 3px #e8c607;
    transform: scale(1.05);
    animation-name: buttonAnimation;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/*STILE DEL MATCH*/
#tabooLogoMatch {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 170px;
    height: 70px;
}

#matchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

#timeCardPoints {
    display: grid;
    grid-template-areas: "time card points";
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    column-gap: 5em;
}

@media screen and (max-width: 720px) {
    #timeCardPoints {
        display: grid;
        grid-template-areas: 
        "empty time empty" "redPoints card bluePoints"
        ;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }

    #redPoints {
        grid-area: redPoints;
    }

    #bluePoints {
        grid-area: bluePoints;
    }
}

/*STILE DELLA CARTA*/
#cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/carta_bordo_esterno.png");
    border-radius: 60px;
    background-size: 100% 100%;
    background-color: white;
    font-size: 2rem;
    width: 300px;
    height: fit-content;
    grid-area: card;
    margin-left: 15%;
    margin-right: 15%;

}
#wordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/carta_bordo_interno_rosso.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 300px;
    padding-bottom: 1em;
}

#cardWord {
    margin: 1.5em 0.5em 0.5em 0.5em;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 0em 0em 0em;
    
}
#cardList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline-start: 0px;
    color: #01071A;
}

#cardList li {
    font-size: 70%;
    font-weight: bold;
}

#cardImg {
    width: 20rem;
    height: fit-content;
}

/*STILE DEI BOX PUNTEGGIO*/

#matchPoints {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 20px;
    grid-area: points;
}

#redPoints {
    background-color: #d61622;
    border-radius: 50px;
    flex-grow: 1;
    padding: 1em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition-property: all;
    transition-duration: 0.4s;
}

#bluePoints {
    background-color: #004ed4;
    border-radius: 50px;
    flex-grow: 1;
    padding: 1em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition-property: all;
    transition-duration: 0.4s;
}

#matchPoints #redPointsScore, #matchPoints #bluePointsScore {
    font-size: 2em;
}

/*STILE DEL TEMPO*/

#matchTime {
    color: #111111;
    border: #000000 solid 10px;
    background-color: white;
    width: 3em;
    height: 2em;
    padding: 2em;
    font-weight: bold;
    border-radius: 100px;
    margin: 20px;
    grid-area: time;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*STILE DEI PULSANTI DEL MATCH*/

#matchButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 40px;
}

#tabooButton {
    width: 100px;
    height: 50px;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #624b9a;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 25px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #452a87;
}

#tabooButton:hover {
    box-shadow: 0px 0px 10px 3px #5736ab;
    transform: scale(1.05);
}

#tabooButton svg {
    padding-top: 5px;
    padding-right: 3.8px;
    width: 60px;
    height: 30px;
}

#skipButton {
    width: 100px;
    height: 50px;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #f9d402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 25px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #d7b701;
}

#skipButton:hover {
    box-shadow: 0px 0px 10px 3px #e8c607;
    transform: scale(1.05);
}

#skipButton svg {
    padding-top: 5px;
    width: 60px;
    height: 30px;
}

#correctButton {
    background-image: "check.svg";
    width: 100px;
    height: 50px;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #80ef80;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 25px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #47cb47;
}

#correctButton:hover {
    box-shadow: 0px 0px 10px 3px #4ae94a;
    transform: scale(1.05);
}

#correctButton svg {
    width: 40px;
    height: 40px;
}

#changeTurnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #01071A;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #FFBF00;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    transition-property: all;
    margin: 25px auto;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #e4ab01;
    white-space: nowrap;
}

#changeTurnButton:hover {
    box-shadow: 0px 0px 10px 3px #e8c607;
    transform: scale(1.05);
}

/*STILE DELLA FINE DEL MATCH*/

#EndMatchButtonContainer {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
}

#playAgainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    color: #01071A;
    font-weight: bold;
    font-size: 20px;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #f9d402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 10px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #d7b701;
}

#playAgainButton:hover {
    box-shadow: 0px 0px 10px 3px #e8c607;
    transform: scale(1.05);
}

#goBackHomeAfterMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    cursor: pointer;
    /*ASPETTI GRAFICI DELLA SCRITTA*/
    font-family: "Readex Pro", sans-serif;
    color: #01071A;
    font-weight: bold;
    font-size: 20px;
    /*ASPETTI GRAFICI DEL BOTTONE*/
    background-color: #E574BC;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-property: all;
    transition-duration: 0.4s;
    margin: 10px;
    border-radius: 15px;
    border: 0px;
    border-bottom: 4px solid #c5559c;
}

#goBackHomeAfterMatch:hover {
    box-shadow: 0px 0px 10px 3px #E574BC;
    transform: scale(1.05);
}

h1.winningText {
    text-shadow: 2px 2px 1px black;
}

#redWins {
    color: #F71735;
}

#blueWins {
    color: #3094ff;
}



/*KEYFRAMES*/
@keyframes buttonAnimation {
    from {transform: rotate(2deg)} to {transform: rotate(-2deg)}
}

